.root {
    -fx-background-color:  linear-gradient(to right bottom, #61d8de, #e839f6);
}
TextField {
    -fx-background-radius: 15;
}
Label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
VBox {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 20;
}
Button {
    -fx-font-color: white;
    -fx-font-size: 16px;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-background-color: #5f28c0;
    -fx-padding: 10;
}

Button:hover {
    -fx-font-color: white;
    -fx-font-size: 16px;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-background-color: #5f28c0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-padding: 10;
}