.list-cell {
    -fx-padding: 5px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0px, 2px ;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.list-cell:empty {
    -fx-padding: 5px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
    -fx-opacity: 0;
}
StackPane {
    -fx-background-radius: 12;
    -fx-padding: 5;
    -fx-background-color: white;
}
.big-button {
    -fx-text-fill: #5f28c0;
    -fx-font-size: 16px;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-pref-width: 150;
}
.big-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}